/* CONTENT */

#headline {
    @include general-mixin(130px, 100%);
    background: $headline-color;
    @include textalign;
    @include margin-padding(0 auto, null);
    h1 {
        color: $white-color;
        @include font-size-weight(2.5em, 100);
        padding-top: 50px;
        @include break(767px) {
            @include font-size-weight(2em, null);
            padding-top: 50px;
        }
        @include break(459px) {
            @include font-size-weight(1.5em, null);
            padding-top: 30px;
        }
    }
}

#content {
    @include general-mixin(null, 940px);
    @include margin-padding(20px auto, null);
    @include break(959px) {
        @include general-mixin(null, inherit);
    }
    h3 {
        color: $grey;
        @include font-size-weight(2em, 400);
        @include break(459px) {
            @include font-size-weight(1.6em, null);
        }
    }
    #products {
        @include general-mixin(null, 460px);
        float: left;
        img {
            float: left;
            margin-right: 20px;
        }
        article {
            margin-bottom: 40px;
        }
        h4 {
            line-height: 1em;
        }
        @include break(959px) {
            @include general-mixin(null, 46%);
            @include margin-padding(0 2%, null);
        }
        @include break(767px) {
            @include general-mixin(null, 96%);
            @include margin-padding(0 2%, null);
        }
    }
    #testimonials {
        @include general-mixin(null, 460px);
        float: right;
        @include break(959px) {
            @include general-mixin(null, 46%);
            @include margin-padding(0 2%, null);
        }
        @include break(767px) {
            @include general-mixin(null, 96%);
            @include margin-padding(0 2%, null);
        }
    }
}

article img {
    @include break(459px) {
        display: none;
    }
}