$main-background: url('../images/bg.gif') #FFF repeat-x;
$logo: url('../images/logo.png') no-repeat 0 50px;
$base-color: #E65C43;
$white-color: #FFF;
$grey: #666;
$headline-color: #F25C43;
$footer-greybar: #F5F6F6;
$footer-back: #30353D;
$footer-image: url('../images/social-media.png');
$fonts: 'Roboto',
sans-serif;